li{
  list-style: none;
}

/* utilities */
.bg-blue{
    background-color: rgb(38, 107, 255);
}

.white{
    color: white;
}

/* flex */
.flex{
    display: flex;
}
.center{
    justify-content: center;
    align-items: center;
}
.between{
    justify-content: space-between;
}

.gap-25{
    gap: 25px;
}
