
.logo{
    height: 80%;
}
header{
    height: 70px;
    
    font-size: calc(1rem / 1.5);
}
/* flex */
.flex{
    display: flex;
}
.center{
    justify-content: center;
    align-items: center;
}
.between{
    justify-content: space-between;
}

.gap-25{
    gap: 25px;
}

/* color */

.gray a{
    color: rgb(85, 85, 85);
}
