
.wrap{
    flex-wrap: wrap;
}

.cards{
    display: flex;
    flex-basis: calc((100% / 6) - 20px);
    flex-direction: column;
    gap: 10px;

    color: white;
}

.img-box img{
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.img-box{
    aspect-ratio: 1/1;
    width: 100%;
    overflow: hidden;
}
/* color */
.bg-main{
    background-color: rgb(41, 41, 41);
}