/* 1 sezione */

.bg-comics{
    background-image: url(../assets/img/jumbotron.jpg);
    padding: 125px 15%;
    background-repeat: no-repeat;
    background-size: cover;



    position: relative;
}

.cur-ser{
    position: absolute;
    bottom: -15px;
    background-color: rgb(38, 107, 255);
    color: white;
    padding: 5px 10px;
}
/* 2 sezione */
.p-comics{
    padding: 50px 0;
}

.wrap{
    flex-wrap: wrap;
}

.cards{
    display: flex;
    flex-basis: calc((100% - (20px * 5)) / 6);
    flex-direction: column;
    gap: 10px;
    /* flex-grow: 1; */
    color: white;
    
}

.img-box img{
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.img-box{
    aspect-ratio: 1/1;
    width: 100%;
    overflow: hidden;
}
/* color */
.bg-main{
    background-color: rgb(41, 41, 41);
}


