/* btn */
.btn-signUp{
    padding: 10px;
    border: 1px solid rgb(38, 107, 255);
    font-size: 0.9rem;
}

.btn-signUp a{
    color: white;
} 
/* colors */
.bg-gray{
    background-color: rgb(49, 49, 49);
}

.blue{
    color: rgb(38, 107, 255);
}


.p-sign-up{
    padding: 30px 0;
}