/* reset */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', open sans;

}

.marginX {
  margin: 0 15%;
}

/* flex */
.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

/* gaps */

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-25{
    gap: 25px;
}